body {
    text-align: center;
    font-family: Arial;
}

.form-container, .filters {
    margin: 20px;
}

input, select, button {
    padding: 10px;
    margin: 5px;
}

.grid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

button {
    cursor: pointer;
}
